@font-face {
    font-family: 'Myriad';
    src: url('/project/fonts/myriad/font.eot');
    src: url('/project/fonts/myriad/font.eot?#iefix') format('embedded-opentype'),
         url('/project/fonts/myriad/font.woff') format('woff'),
         url('/project/fonts/myriad/font.ttf') format('truetype'),
         url('/project/fonts/myriad/font.svg#myriad') format('svg');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'Calibri';
    
    src: url('/project/fonts/calibri/font.eot');
    src: url('/project/fonts/calibri/font.eot?#iefix') format('embedded-opentype'),
         url('/project/fonts/calibri/font.woff') format('woff'),
         url('/project/fonts/calibri/font.ttf') format('truetype'),
         url('/project/fonts/calibri/font.svg#calibri') format('svg');
         
    font-weight: normal;
    font-style: normal;
}

