
.cabinet_standart_table {
  margin-top:20px;
}

.cabinet_standart_table td.standart_table_left {
  padding:0 20px 0px 20px;
}

/* меню кабинета */

.cabinet_menu {
  background:#fff;
}

.cabinet_menu .standart_menu_title {
  padding-left:55px;
}

.cabinet_menu .standart_menu_sup {
  padding-left:55px;
}

.cabinet_menu_icon {
  left:11px;
  top:5px;
  position:absolute;
  width:30px;
  height:30px;
  text-align:center;
  line-height:29px;
  overflow:hidden;
}

.cabinet_menu_icon span {
  font-size:20px;
  color:#fff;
  text-decoration:underline;
}

.cabinet_menu_icon1 {
  background:url(images/icons/cabinet_icon1.png) no-repeat left center;
}

.cabinet_menu_icon2 {
  background:url(images/icons/cabinet_icon2.png) no-repeat left center;
}

.cabinet_menu_icon3 {
  background:url(images/icons/cabinet_icon3.png) no-repeat left center;
}

.cabinet_menu_icon6 {
  background:url(images/icons/cabinet_icon6.png) no-repeat left center;
}

.cabinet_menu_icon7 {
  background:url(images/icons/cabinet_icon7.png) no-repeat left center;
}

.cabinet_menu_icon8 {
  background:url(images/icons/cabinet_icon8.png) no-repeat 1px center;
}

.standart_menu_title_sel .cabinet_menu_icon1 {
  background:url(images/icons/cabinet_icon1_sel.png) no-repeat left center !important;
}

.standart_menu_title_sel .cabinet_menu_icon2 {
  background:url(images/icons/cabinet_icon2_sel.png) no-repeat left center !important;
}

.standart_menu_title_sel  .cabinet_menu_icon3 {
  background:url(images/icons/cabinet_icon3_sel.png) no-repeat left center !important;
}

.standart_menu_title_sel  .cabinet_menu_icon6 {
  background:url(images/icons/cabinet_icon6_sel.png) no-repeat left center !important;
}

.standart_menu_title_sel  .cabinet_menu_icon7 {
  background:url(images/icons/cabinet_icon7_sel.png) no-repeat left center !important;
}

.standart_menu_title_sel  .cabinet_menu_icon8 {
  background:url(images/icons/cabinet_icon8_sel.png) no-repeat 1px center !important;
}


.cabinet_menu_red {
  background:#e04a32;
}

.cabinet_menu_black {
  background:#4c4c4c;
}

/*  Форма основная информация  */

.cabinet_form_container {
	background: #f4f4f4;
	font-family:Arial, Tahoma, sans-serif;
	color: #666666;
	font-size:12px;
	padding:0 0 20px 0;
	margin-bottom: 20px;
}

.cabinet_form_nothing {
	padding:0 0 0 20px;
	font-size:16px;
}

.cabinet_form_container a {
	color:#51c1d7;
}

.cabinet_form_container  .paginator_left_bg, .cabinet_form_container  .paginator_right_bg {
  background-color:#f4f4f4;
}

.cabinet_form_header {
	font-size: 24px;
	padding:10px 20px 20px 20px;
	color:#3c3c3c;
	font-family: 'PFD', Arial, Tahoma, sans-serif
}

.cabinet_form_container .form_table  {
  margin-top:10px;
}

.cabinet_form_container .form_table .form_left{
  width: 145px;
  padding: 0 20px 20px 0;
  text-align: right;
  vertical-align:middle;
}

.cabinet_form_container .form_table .form_right {
  width: 425px;
  padding:0 0 20px 0;
  text-align:left;
  vertical-align:top;
}

.cabinet_form_error {
  margin:0 20px 20px 20px;
  padding:10px 20px 10px 145px;
  line-height:1.5;
  background:#e04a32;
  color:#fff;
  font-size:16px;
  font-family: 'PFD', Arial, Tahoma, sans-serif
}

.cabinet_form_saved {
  margin:0 20px 20px 20px;
  padding:10px 20px 10px 145px;
  line-height:1.5;
  background:#418da2;
  color:#fff;
  font-size:16px;
  font-family: 'PFD', Arial, Tahoma, sans-serif
}

.cabinet_text_tip {
  font-size:12px;
  padding:2px 0 0 0;
}


.access_cabinet_vk, .access_cabinet_fb, .access_cabinet_ok {
  border:1px solid #ddd;
  width:100px;
  height:100px;
  background:#fff;
  text-align:center;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-right:10px;
  float:left;
  padding:10px 0 0 0;
  font-size:11px;
}

.access_cabinet_social {
  font-size:0px;
  padding:0 0 7px 0;
}

.access_cabinet_social img{
  display:block;
  margin:0 auto;
}

.access_cabinet_vk a, .access_cabinet_fb a, .access_cabinet_ok a{
  color: #407D8B;
}



.new_cabinet_card_already_have {
	margin-top:15px;
	font-size:12px;
	color:#666;
}

.new_cabinet_card_already_have a {
	color:#666;
}

.new_cabinet_card_status_0, .new_cabinet_card_status_1, .new_cabinet_card_status_2, .new_cabinet_card_status_3, .new_cabinet_card_status_4 {
	font-size:14px;
	color:#666;
	padding:10px 0 10px 40px;
	margin-bottom:10px;
}

.new_cabinet_card_status_4 {
	margin-bottom:20px;
}

.new_cabinet_card_status_0 {
	background:url(/templates/images/cabinet/zayavka_white.png) no-repeat left center;
}

.new_cabinet_card_status_1 {
	background:url(/templates/images/cabinet/anketa_white.png) no-repeat left center;
}

.new_cabinet_card_status_2 {
	background:url(/templates/images/cabinet/card_white1.png) no-repeat left center;
}

.new_cabinet_card_status_3 {
	background:url(/templates/images/cabinet/vipusk_white.png) no-repeat left center;
}

.new_cabinet_card_status_4 {
	background:url(/templates/images/cabinet/vidano_white.png) no-repeat left center;
}

.new_cabinet_card_status_0_sel {
	background:url(/templates/images/cabinet/zayavka_color.png) no-repeat left center;
	color:#51c1d7;
}

.new_cabinet_card_status_1_sel {
	background:url(/templates/images/cabinet/anketa_color.png) no-repeat left center;
	color:#51c1d7;
}

.new_cabinet_card_status_2_sel {
	background:url(/templates/images/cabinet/card_color.png) no-repeat left center;
	color:#51c1d7;
}

.new_cabinet_card_status_3_sel {
	background:url(/templates/images/cabinet/vipusk_color.png) no-repeat left center;
	color:#51c1d7;
}

.new_cabinet_card_status_4_sel {
	background:url(/templates/images/cabinet/vidano_color.png) no-repeat left center;
	color:#51c1d7;
}


.card_status_container{
	padding: 0 0 0 20px;
}

.card_balance_container{
	padding: 0 0 0 20px;
}

/* Мои репортажи */

#cabinet_reports_list {
  width:720px;
  margin:0 20px;
}

#cabinet_reports_list td.left {
  padding:0 20px 20px 0;
  width:320px;
}

#cabinet_reports_list td.right {
  padding:0 0 20px 0;
}

#cabinet_reports_list td.left a {
  font-size:18px;
  font-family: 'PFD', Arial, Tahoma, sans-serif;
  color:#51c1d7;
}

#cabinet_reports_list thead td {
  font-size:11px;
}

.cabinet_reports_list_edit > div.left .wait {
  font-size:11px;
  color:#999;
}

.cabinet_reports_list_edit > div.left .published {
  font-size:11px;
  color:#51c1d7;
}

.cabinet_reports_list_edit > div.left span, .cabinet_reports_list_edit > div.right a.ui_button {
  display:none;
}

.cabinet_reports_list_edit.wait > div.left span.wait, .cabinet_reports_list_edit.published > div.left span.published {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.cabinet_reports_list_edit.wait > div.right a.b_publick, .cabinet_reports_list_edit.published > div.right a.b_remove_publick {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.cabinet_reports_list_edit > div.right a.b_delete {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height:28px;
  background:url(images/cabinet/delete.png) no-repeat center center #e04a32;
  font-size:0px;
  line-height:28px;
  width:30px;
  margin:0 1px;
}

.cabinet_reports_list_edit > div.right a.b_edit {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  height:28px;
  background:url(images/cabinet/edit.png) no-repeat center center #4e4e4e;
  font-size:0px;
  line-height:28px;
  width:30px;
}

.cabinet_reports_list_edit > div.left {
  float:left;
  height:28px;
  line-height:28px;
}

.cabinet_reports_list_edit > div.right {
  float:right;
  height:28px;
  font-size:0px;
}

/* Добавление записи в репортажи */

.cabinet_form_big_one  {
  padding:0 20px;
  margin-bottom:20px;
}

.cabinet_form_big_one_title {
  padding:0 0 10px 0;
}


.reports_previewcontent_block {
  background:#fff;
  padding-bottom:10px;
  margin-top:20px;
}

#previewcontent_block_title {
  font-size: 24px;
  padding:20px 20px 10px 0;
  color:#3c3c3c;
  font-family: 'PFD', Arial, Tahoma, sans-serif;
}

/* Новости */


.news_list {
	margin:30px 0 0 0;
}

.news_one {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	border-bottom:1px solid #ccc;
}

.news_one_top_time, .news_one_left_time {
	font-size:11px;
	color:#898989;
	padding:0 0 4px 0;
}

.news_one_top_time {
	padding:0 0 6px 0;
}

.news_one_left_info {
	float:left;
	font-size:0px;
	padding:0 10px 0 0;
}

.news_one_left_info img {
	width:30px;
	margin:0 5px 0 0;
}

.news_one_top_info {
	font-size:0px;
	margin:0 0 6px 0;
}

.news_one_top_info img{
	width:30px;
	margin:0 5px 0 0;
}

.news_one_block_text {
	font-size:14px;
	color:#666;
	line-height:1.2;
}

.news_one_block_text .blue {
	color:#51c1d7;
}

.news_one_block_text a {
	color:#51c1d7;
	text-decoration:none;
}

.news_one_block_text a:hover {
	text-decoration:underline;
}

.nimg {
	position:relative;
}


.news_one_block_right {
	float:right;
	width:100px;
	text-align:right;
	font-size:18px;
	padding:16px 0 0 0;
}

.news_one_block_right img {
	position:relative;
	top:1px;
	margin:0 0 0 5px;
}

.news_one_block_right_multi {
	padding:3px 0 0 0;
}

.news_one_block {

}

.ngreen {
	color:#39b54a;
}

.nred {
	color:#ed1c24;
}

.news_one_block_admin_7, .news_one_block_admin_8 {
	color:#e04a32;
	font-style:Italic;
}

.news_one_block_admin_8 {
	color:green;
}

/* Мои заказы */

#cabinet_orders_list {
  width:720px;
  margin:0 20px;
}

#cabinet_orders_list td {
  border-bottom:1px solid #dcdcdc;
}

#cabinet_orders_list thead td {
  font-size:12px;
  color:#555;
  padding:0 0 20px 0;
}

#cabinet_orders_list tbody td {
  font-size:14px;
  color:#555;
  padding:20px 0 20px 0;
}

#cabinet_orders_list td.td1 {
  width:125px;
}

#cabinet_orders_list td.td2 {
  width:120px;
}

#cabinet_orders_list td.td3 {
  width:225px;
}

#cabinet_orders_list td.td4 {
  width:140px;
}

#cabinet_orders_list tbody td.td5 {
  text-align:right;
}

#cabinet_orders_list tbody td.td4 {
  font-family: 'blocheavycregular', 'Arial', 'Tahoma', 'PFD';
  color:#51c1d7;
  font-size:18px;
}

/* Заказ */

#cabinet_orders_view {
  width:720px;
  margin:0 20px;
}

#cabinet_orders_view td {
  border-bottom:1px solid #dcdcdc;
}

#cabinet_orders_view thead td {
  font-size:12px;
  color:#555;
  padding:0 0 20px 0;
}

#cabinet_orders_view tbody td {
  font-size:14px;
  color:#555;
  padding:20px 0 20px 0;
}

#cabinet_orders_view td.td1 {
  width:125px;
}

#cabinet_orders_view td.td2 {
  width:120px;
}

#cabinet_orders_view td.td3 {
  width:160px;
  padding-right:10px;
}

#cabinet_orders_view td.td4 {
  width:160px;
}

#cabinet_orders_view tbody td.td5 {
  
}

#cabinet_orders_view tbody td.td4 {
  font-family: 'blocheavycregular', 'Arial', 'Tahoma', 'PFD';
  color:#51c1d7;
  font-size:18px;
}


#cabinet_orders_view_goods {
  width:720px;
  margin:0 20px;
}

#cabinet_orders_view_goods td {
  border-bottom:1px solid #dcdcdc;
}

#cabinet_orders_view_goods tbody td {
  font-size:14px;
  color:#555;
  padding:20px 0 20px 0;
}

#cabinet_orders_view_goods td.td1 {

}

#cabinet_orders_view_goods td.td2 {
  width:145px;
}

#cabinet_orders_view_goods td.td3 {
  width:145px;
  font-size:10px;
  color:#00b034;
  text-align:center;
}

.cabinet_orders_view_info {
  font-size:14px;
  color:#555;
  padding:0 0 10px 0;
}

.cabinet_orders_view_info span.ts{
  font-family: 'blocheavycregular', 'Arial', 'Tahoma', 'PFD';
  color:#51c1d7;
  font-size:18px;
}



.shop_button_gopay {
  display:block;
  height:23px;
  background:url(images/buttons/clubcard_bg.png) no-repeat 0px 0px #d84c36;
  text-transform:uppercase;
  text-align:center;
  padding:7px 0 0 0;
  position:relative;
  width:270px;
}

.shop_button_gopay .hms4 {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
  font-size:14px;
  text-decoration:underline;
}

.shop_button_gopay:hover .hms4 {
  text-decoration:none;
}

.shop_button_gopay:hover {
  cursor:pointer;
}

.shop_button_gopay .hms1 {
  display:block;
  position:absolute;
  top:0;
  left:2px;
  width:28px;
  height:30px;
  background:#ac2619;
  z-index:1;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.shop_button_gopay .hms2 {
  display:block;
  position:absolute;
  top:0;
  left:2px;
  width:28px;
  height:30px;
  z-index:2;
  background:url(images/shop/basket_go_icon.png) no-repeat 6px 8px;
}


.shop_button_gopay .hms4 {
  display:block;
  position:absolute;
  top:0;
  left:0px;
  width:235px;
  text-align:center;
  height:30px;
  z-index:4;
  padding:0 0 0 15px;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  font-size:16px;
  line-height:30px;
  color:#fff;
}

/* Тесты */

.quiz_results_table {
  width:100%;
}

.quiz_results_table .name {
  padding:7px 0 7px 20px;
  font-size:14px;
}

.quiz_results_table .result {
  width:100px;
  text-align:right;
  padding:7px 30px 7px 20px;
  font-weight:bold;
  font-size:14px;
}

.quiz_results_table tr:nth-child(odd) td {
  background:#def0f4;
}

#cabinet_order_cancellation_button{
	font-size: 12px;
	color: #e04a32;
}

#cabinet_order_cancel_form_header{
	padding: 10px 0 5px 0;
}

#cabinet_order_cancel_form_button_wrap{
	padding: 10px 0;
}


/* Баланс в личном кабинете */

#cabinet_balance_1 {
  font-size:15px;
}

#cabinet_balance_1 span {
  font-size:24px;
  font-weight:bold;
  color:#000;
}

#cabinet_balance_2_1 {
  float:left;
  font-size:15px;
  height:29px;
  line-height:29px;
  padding:0 10px 0 0;
}

#cabinet_balance_2 {
  padding-top:15px;
}

#cabinet_balance_2_2 {
  float:left;
  width:100px;
}

#cabinet_balance_2_3 {
  float:left;
  font-size:15px;
  height:29px;
  line-height:29px;
  padding:0 10px;
}

#cabinet_balance_2_4 {
  float:left;
}

#cabinet_balance_3 {
  color:#e04a32;
  font-size:13px;
  padding-top:15px;
}

#cabinet_balance_4 {
  padding:15px 0 0 0;
}

#cabinet_balance_4_title {
  font-size: 24px;
  color:#3c3c3c;
  font-family: 'PFD', Arial, Tahoma, sans-serif
}

#cabinet_balance_4_table_wrapper {
  padding:15px 0 0 0;
}

#cabinet_balance_4_table {
  width:100%;
}

#cabinet_balance_4_table td {
  vertical-align:top;
  font-size:13px;
  color:#6e6e6e;
}

#cabinet_balance_4_table td.td1 {
  width:70px;
}

#cabinet_balance_4_table td.td2 {
  width:60px;
}

#cabinet_balance_4_table td.td3 {
  width:110px;
}

#cabinet_balance_4_table td.td4 {
  width:80px;
}

#cabinet_balance_4_table thead td {
  background:#fff;
  padding:15px 0 15px 20px;
}

#cabinet_balance_4_table tbody td {
  padding:20px 0 0 20px;
}

#cabinet_balance_4_table td .plus {
  color:#39b54a;
  font-weight:bold;
}

#cabinet_balance_4_table td .minus {
  color:#e04a32;
  font-weight:bold;
}

#cabinet_balance_4_table_noitems {
  padding:20px 0 0 20px;
}

/* Баланс в личном кабинете - пополнение */

#cabinet_balance_payment_1 {
  font-size:15px;
}

#cabinet_balance_payment_1 span {
  font-size:24px;
  font-weight:bold;
  color:#000;
}

#cabinet_balance_payment_2 {
  font-size:15px;
  padding:15px 0 0 0;
}

#cabinet_balance_payment_3 {
  padding:15px 0 0 0;
}

#cabinet_balance_payment_3 .one {
  font-size:15px;
}

#cabinet_balance_payment_3 .left {
  float:left;
  padding:3px 0 0 0;
  width:25px;
}

#cabinet_balance_payment_3 .right {
  float:left;
}

#cabinet_balance_payment_4 {
  padding:15px 0 0 0;
}