.emoji { background: url("emoji.png") no-repeat; width: 16px; height: 16px; margin:0 1px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; }
.emoji128522 { background-position: 0px 0px; }
.emoji128515 { background-position: 0px -17px; }
.emoji128521 { background-position: 0px -34px; }
.emoji128518 { background-position: 0px -51px; }
.emoji128540 { background-position: 0px -68px; }
.emoji128523 { background-position: 0px -85px; }
.emoji128525 { background-position: 0px -102px; }
.emoji128526 { background-position: 0px -119px; }
.emoji128543 { background-position: 0px -136px; }
.emoji128527 { background-position: 0px -153px; }
.emoji128532 { background-position: 0px -170px; }
.emoji128546 { background-position: 0px -187px; }
.emoji128557 { background-position: 0px -204px; }
.emoji128181 { background-position: 0px -221px; }
.emoji128690 { background-position: 0px -238px; }
.emoji128528 { background-position: 0px -255px; }
.emoji128544 { background-position: 0px -289px; }
.emoji128591 { background-position: 0px -306px; }
.emoji128519 { background-position: 0px -323px; }
.emoji128131 { background-position: 0px -340px; }
.emoji128563 { background-position: 0px -357px; }
.emoji9992 { background-position: 0px -374px; }
.emoji128645 { background-position: 0px -391px; }
.emoji128538 { background-position: 0px -408px; }
.emoji127864 { background-position: 0px -425px; }
.emoji9994 { background-position: 0px -442px; }
.emoji128077 { background-position: 0px -459px; }
.emoji128078 { background-position: 0px -476px; }
.emoji128076 { background-position: 0px -493px; }