<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mis.korean.asselect"
    android:versionCode="96"
    android:versionName="1.9.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="mis.korean.asselect.SelectWordActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mis.korean.asselect.WordsSettingsActivity"
            android:label="@string/title_activity_words_settings" >
        </activity>
        <activity
            android:name="mis.korean.asselect.ShowWeightsActivity"
            android:label="@string/title_activity_show_weights" >
        </activity>
        <activity
            android:name="mis.korean.asselect.WordWeightsTable"
            android:label="@string/title_activity_word_weights_table" >
        </activity>
    </application>

</manifest>