/* Кнопки покупки */

.buy_button_1 {
  display:inline-block;
  background:url(images/buy_button_1.png) left top no-repeat #e04a32;
  width:62px;
  height:30px;
  line-height:30px;
  padding:0 0 0 50px;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  color:#fff;
  text-decoration:none;
  font-size:16px;
}

.buy_button_1:hover {
  text-decoration:underline;
}

.buy_button_2 {
  display:inline-block;
  background:url(images/buy_button_2.png) left top no-repeat #e04a32;
  width:81px;
  height:24px;
  line-height:24px;
  text-align:center;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  color:#fff;
  text-decoration:none;
  font-size:16px;
}

.buy_button_2:hover {
  text-decoration:underline;
}

.buy_button_3 {
  display:inline-block;
  background:url(images/buy_button_3.png) left top no-repeat #e04a32;
  width:93px;
  height:24px;
  line-height:24px;
  text-align:center;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  color:#fff;
  text-decoration:none;
  font-size:16px;
}

.buy_button_3:hover {
  text-decoration:underline;
}



/* Список - тип 1 */

.shop_products_list_1 {
}

.shop_products_list_1_td {
  padding:0 0 30px 0;
  width:240px;
  vertical-align:top;
}

.shop_products_list_1 td.td1 {
  padding-right:34px;
}

.shop_products_list_1 td.td2, .shop_products_list_1 td.td3 {
  padding-right:33px;
}

.shop_products_list_1 td.td4 {
  padding-right:0px;
}

.shop_products_list_1 tr:last-child td.shop_products_list_1_td {
  padding-bottom:0px;
}

.shop_products_list_1_td .shop_products_list_one .product_img img {
  height:122px;
}

/* Список - тип 2 */

.shop_products_list_2 {
}

.shop_products_list_2_td {
  padding:0 0 30px 0;
  width:240px;
  vertical-align:top;
}

.shop_products_list_2 td.td1, .shop_products_list_2 td.td2 {
  padding-right:33px;
}

.shop_products_list_2 td.td3 {
  padding-right:0px;
}

.shop_products_list_2 tr:last-child td.shop_products_list_2_td {
  padding-bottom:30px;
}

.shop_products_list_2_td .shop_products_list_one .product_img img {
  height:122px;
}


/* Список - тип 3 */

.shop_products_list_3 {
}

.shop_products_list_3_td {
  padding:0 20px 30px 0;
  width:240px;
  vertical-align:top;
}

.shop_products_list_3 tr td.shop_products_list_3_td:last-child {
  padding-right:0px;
}

.shop_products_list_3 tr:last-child td.shop_products_list_3_td {
  padding-bottom:0px;
}

.shop_products_list_3_td .shop_products_list_one .product_img img {
  height:122px;
}


/* Товар в списке */

.shop_products_list_one {

}

.shop_products_list_one .product_top {
  position:relative;
}

.shop_products_list_one .product_img {
  font-size:0px !important;
  background-color:#000;
  overflow:hidden;
  border:1px solid #f5f5f5;
}

.shop_products_list_one .product_img a {
  font-size:0px !important;
}

.shop_products_list_one .product_img img {
  width:100%;
  box-shadow: #000 0em 0em 0em;
  display:block;
}

.shop_products_list_one .product_img img:hover {
  /*
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  */
}

.shop_products_list_one .product_sale {
  display:block;
  position:absolute;
  right:15px;
  bottom:-10px;
  width:64px;
  height:63px;
  background:url(images/good_list_sale.png) left top no-repeat;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  font-weight:bold;
  font-size:18px;
  color:#fff;
  text-align:center;
  line-height:63px;
  text-decoration:none;
}

.shop_products_list_one .product_price {
  color:#51c1d7;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  font-weight:bold;
  font-size:24px;
  padding:15px 0 0 0;
}

.shop_products_list_one .product_price.through {
  color:#e04a32;
  font-size:20px;
  text-decoration:line-through;
}

.shop_products_list_one .product_clubmember_price_title { 
  font-size:13px;
  color:#555555;
  padding:5px 0 5px 0;
}

.shop_products_list_one .product_clubmember_price {
  color:#51c1d7;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  font-weight:bold;
  font-size:24px;
}

.shop_products_list_one .product_buy {
  margin:10px 0 0 0;
}

.shop_products_list_one .product_buy .left {
  padding:0;
  font-size:0px;
}

.shop_products_list_one .product_buy .right {
  padding:0 0 0 10px;
}

.shop_products_list_one .product_buy .wanna_sale {
  font-size:11px;
  color:#e14a32;
  display:block;
}

.shop_products_list_one .product_title {
  font-size:18px;
  color:#000;
  font-family:'PFD', Arial, Tahoma, sans-serif;
}

.shop_products_list_one .product_buy_c {
  height:34px;
}

.shop_products_list_one .product_title a {
  color:#000;
  display:block;
}

.shop_products_list_one .product_title a:hover {
  text-decoration:underline;
  color:#51c1d7;
}

.shop_products_list_one .product_preview {
  font-size:13px;
  color:#555;
  padding:10px 0 0 0;
  line-height:1.3;
}


.shop_products_list_one.no_quantity .product_title, .shop_products_list_one.no_quantity .product_price, .shop_products_list_one.no_quantity .product_clubmember_price, .shop_products_list_one.no_quantity .product_preview {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.shop_products_list_one.no_quantity .product_img {
  background-color:#fff;
}

.shop_products_list_one.no_quantity .product_img img, .shop_products_list_one.no_quantity .product_img img:hover {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}




/* Скролящаяся корзина */

#shop_scroll_basket {
  position:absolute;
  right:-60px;
  top:0;
}

#shop_scroll_basket_c {
  position:fixed;
  z-index:31;
  width:170px;
  top:150px;
}

#shop_scroll_basket_cc {
  border:4px solid #7f7f7f;
  padding:1px;
  border-radius:3px;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
  position:relative;
  background:#fff;
}

#shop_scroll_basket_cc .top_table {
  width:100%;
  background:#e04a32;
}

#shop_scroll_basket_cc .top_table td {
  padding:0;
}

#shop_scroll_basket_cc .top_table .left {
  width:32px;
}

#shop_scroll_basket_cc .top_table .left div {
  width:32px;
  height:30px;
  background:url(images/scroll_basket/icon.png) no-repeat left top;
}

#shop_scroll_basket_cc .top_table .right {
  text-align:center;
  color:#fff;
  font-size:15px;
  font-family:'PFD', Arial, Tahoma, sans-serif;
}

#shop_scroll_basket_cc .mid {
  height:32px;
  line-height:32px;
  font-size:15px;
  font-family:'PFD', Arial, Tahoma, sans-serif;
  color:#000;
  text-align:center;
}

#shop_scroll_basket_cc .mid span {
  font-weight:bold;
  margin-left:5px;
}

#shop_scroll_basket_cc .bot {
  height:31px;
  text-align:center;
  font-size:0px;
  line-height:1;
}

#shop_scroll_basket_cc .bot a {
  display:inline-block;
  background:#e04a32;
  font-size:12px;
  text-decoration:none;
  height:20px;
  padding:0 15px;
  line-height:20px;
  border:1px solid #fff;
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.3);
}

#shop_scroll_basket_cc .linker {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  font-size:0px;
}