


body {
  background: #2d50a7 url(/stylesheets/ann-2006/bg_grd_blue.gif) repeat-x;
  color: #000;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

BODY, TEXTAREA, SELECT, INPUT {
  font: 12px DejaVu Sans, Verdana, Geneva, sans-serif;
	
  line-height: 1.3em;
}
#sidebar {
  font: 13px Tahoma, Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
#maincontent .forumzone .postbody,
#maincontent .text-zone, #maincontent .text-zone TD {
  font: 13px DejaVu Sans, Verdana, Geneva, sans-serif;
  line-height: 1.5em
}
#maincontent .text-zone > .meat > p:first-child { margin-top: 0 }
#maincontent .text-zone > .meat + hr { clear:both; }

a:link { color: #038; }
a:visited { color: #538; }
a:hover { color: #06c; text-decoration: underline !important; }
a img { border: 0px; }

.hide { display: none; }
.show { display: block; }
.fleft { float: left; }
.fright { float: right; clear:right }
.hasfloat { overflow: hidden; }
.cleft { clear: left; }
.cright { clear: left; }
.center { text-align: center; }
.right { text-align: right; }
.vmiddle { vertical-align: middle; }
.white { color: #fff; background: transparent; }
.pointer { cursor: pointer; }
.readable { max-width: 700px; font-size:14px; line-height:1.3em; }

.selectbox {
  text-align: center;
  margin: 15px;
}

.selectbox a,
.selectbox .selected a:link,
.selectbox .selected a:visited {
  border: 1px solid #ddd;
  color: #666;
  font-weight: bold;
  margin: 0px 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.selectbox a:link,
.selectbox a:visited {
  color: #aaa;
  font-weight: normal;
}
.selectbox a:hover {
  border: 1px solid #444;
  color: #444;
}



#content {
  margin: 0 auto;
  min-width: 980px;
  width: 88%;
}

#content #tl_fill {
  background: #fff url(/stylesheets/ann-2006/tl_fill.gif);
  display: block;
  float: left;
  height: 197px; overflow: hidden;
  width: 4px;
}
#content #tr_fill {
  background: #fff url(/stylesheets/ann-2006/tr_fill.gif) right no-repeat;
  float: right;
  height: 197px; overflow: hidden;
  width: 5px;
}
#content .hd .c, #content .ft .c {
  font-size: 1px; 
  height: 10px; overflow: hidden;
}
#content #tl {
  background: transparent url(/stylesheets/ann-2006/tl.gif) no-repeat 0px 0px;
  color: #000;
  height: 10px; overflow: hidden;
  margin-right: 10px;
}
#content #tr {
  background: url(/stylesheets/ann-2006/tr.gif);
  color: #000;
  float: right;
  height: 10px; overflow: hidden;
  position: relative;
  top: -10px;
  width: 10px;
}
#content .bd {
  background: transparent url(/stylesheets/ann-2006/ml.gif) repeat-y 0px 0px;
  color: #000;
}
#content .bd .c {
  background: transparent url(/stylesheets/ann-2006/mr_blue.gif) repeat-y right 0px;
  color: #000;
}
#content.big .bd .c, #content.full .bd .c, #content.fix .bd .c {
  background: transparent url(/stylesheets/ann-2006/mr_white.gif) repeat-y right 0px;
  color: #000;
}

#content .bd .c .s {
  background: white;
}
#content .bd .c > .s {
  color: #000;
  margin: 0px 5px 0px 4px;
}
#content .ft {
  background: transparent url(/stylesheets/ann-2006/bl.gif) no-repeat 0px 0px;
  color: #000;
}
#content .ft .c {
  background: transparent url(/stylesheets/ann-2006/br.gif) no-repeat right 0px;
  color: #000;
}
#content.big .ft .c, #content.full .ft .c, #content.fix .ft .c {
  background: transparent url(/stylesheets/ann-2006/br_white.gif) no-repeat right 0px;
  color: #000;
}

#content #b_fill {
  background: #021b73;
  color: #000;
  float: right;
  height: 5px; overflow: hidden;
  margin-right: 10px;
  width: 447px;
}

#netbar {
  background-image: url(/stylesheets/ann-2006/bar_light.gif);
  color: #0ff;
  display: block;
  font-size: 13px;
  height: 26px; 
  margin: 0px 4px 0px 3px;
}
  #netbar #networklinks { 
    height: 26px;
    float: left;
    line-height: 26px;
    padding-left: 8px;
  }
  #netbar a:link, #netbar a:visited {
    
    color: #fff;
    text-decoration: none;
  }
  #netbar a:hover {
    text-decoration: underline;
  }
  
#sm_logo {
  
  display: none;
}
#searchbar {
  float: right;
}
  #searchbar form {
    margin: 2px 3px 0px 0px;
    padding: 0px;
  }
  #searchbar input {
    background: #eee url(/stylesheets/system/sprite.png?0004074) 0px -196px;
    border: 1px solid #004880;
    color: #444;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 18px; overflow: hidden;
    padding: 2px 2px 0px 3px;
    width: 180px;
  }
  #searchbar img {
    vertical-align: top;
  }
  
  #netnav_search_btn img {
    width:65px; height:22px; overflow: hidden;
    background-image: url(/stylesheets/ann-2006/btn_search.gif);
    cursor: pointer;
  }
  #netnav_search_btn:hover img {
    background-image: url(/stylesheets/ann-2006/btn_search_on.gif);
  }
  
  #filter_btn img {
    cursor: pointer;
    background-image: url(/stylesheets/ann-2006/btn_search_arrow.gif);
    width:19px; height:22px; overflow: hidden;
  }
  #filter_btn:hover img {
    background-image: url(/stylesheets/ann-2006/btn_search_arrow_on.gif);
  }
  
#userbar {
  background: #2874a8 url(/stylesheets/ann-2006/bar_dark.gif);
  color: #fff;
  clear: both;
  height: 20px; overflow: hidden;
  margin: 2px 4px 0px 3px;
  padding: 0px 0px 0px 1px;
  width: auto;
}
  #userbar #userbar_login {
    font-size: 11px;
    line-height: 18px;
    margin: 0px;
    padding: 1px 4px 1px 4px;
    vertical-align: middle;
  }
    #userbar #userbar_login img {
      margin: 0px;
      vertical-align: top;
    }
    #userbar #userbar_login input {
      color: #fff;
      font-size: 11px;
      height: 14px; overflow: hidden;
      margin: 0px;
      padding: 0px;
    }
    #userbar #userbar_login .textinput {
      background: #2874a8;
      border: 1px solid #0ac;
      padding: 0px 2px 0px 2px;
    }
    #userbar #userbar_login a:link, #userbar #userbar_login a:visited {
      background: transparent;
      color: #0df;
      text-decoration: none;
    }
    #userbar #userbar_login a:hover {
      color: #fff;
      text-decoration: underline;
    }
  #userbar #userbar_links {
    display: block;
    height: 20px; overflow: hidden;
    width: auto;
  }
    #userbar #userbar_links span {
      margin: 2px 8px 2px 8px;
      float: left;
    }
    #userbar #userbar_links a {
      color: #fff;
    }
    #userbar #userbar_links .b {
      background-color: #2874a8;
      border-bottom: 1px solid #9c0;
      float: left;
      height: 15px; overflow: hidden;
      margin: 1px 1px 1px 0px;
      padding: 1px 8px 1px 8px;
      text-decoration: none;
    }
    #userbar #userbar_links .b:hover {
      background: #9c0;
      border-bottom: 1px solid #690;
      color: #040;
    }

.overlay_menu_container {
  background: transparent url(/stylesheets/ann-2006/shadow.png) no-repeat;
  color: #fff;
  height: 295px; overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 310px;
  z-index: 100;
}
  .overlay_menu_container .overlay_menu_content {
    height: 280px; overflow: hidden;
    width: 300px;
  }
    .overlay_menu_container .overlay_menu_content .links {
      height: 280px; overflow: visible;
      width: auto;
    }
.overlay_menu_content th {
  background: #069 url(/stylesheets/ann-2006/cat_hdr.gif);
  border-bottom: 2px solid #9c0;
  height: 15px; overflow: hidden;
  padding: 5px 0px 5px 0px;
}
.overlay_menu_content th.back {
  width: 50px;
}
.overlay_menu_content th.hdr {
  width: 200px;
}
.overlay_menu_content th.next {
  width: 50px;
}
.overlay_menu_content th a:link, .overlay_menu_content th a:visited {
  color: #9c0;
  padding: 5px;
  text-decoration: none;
}
.overlay_menu_content th a:hover {
  background: #9c0;
  color: #040;
  text-decoration: none;
}
.overlay_menu_content .links td {
  vertical-align: top;
  width: 300px;
}
.overlay_menu_content .links td a:link, .overlay_menu_content .links td a:visited {
  background: #2874a8;
  border-top: 1px solid #069;
  color: #fff;
  float: left;
  overflow: hidden;
  padding: 5px 4px 4px 24px;
  text-decoration: none;
  white-space: nowrap;
  width: 272px;
}
.overlay_menu_content .links td a:hover {
  background: #9c0;
  color: #040;
}
#search_menu {
  background: #f0f0f0;
  color: #666;
  height: 48px; overflow: hidden;
  position: absolute;
  visibility: hidden;
  width: 84px;
  z-index: 100;
}
#search_menu div {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  height: 14px; overflow: hidden;
  padding: 4px;
}
#search_menu div:hover {
  background: #7b0;
  border-top: 1px solid #cf6;
  border-bottom: 1px solid #580;
  color: #fff;
}

#tabs_container {
  display: block;
  height: 32px; overflow: visible;
  margin-top: 3px;
  position: relative;
  top: 5px;
  width: 100%;
  z-index: 2;
}
#tabs {
  float: right;
  padding-right: 10px;
}


#menus {
	padding: 0 5px 5px 5px;
  height:76px; overflow: hidden;
  position: relative;
  top: -5px;
  margin-bottom: -10px;
}
  #menus table.layout {
    width: 512px;
    margin: 3px 10px 0px 0px;
    height: 66px;
  }
  #menus #menu_sponsor table.layout {
    width: 586px;
  }
    #menus table.layout td {
      padding-left: 10px;
      vertical-align: middle;
      white-space: nowrap;
      color: #06c;
    }
    #menus #menu_forum td img {
      vertical-align: bottom;
    }
#extramenus {
  margin: 10px 0px;
  text-align: center;
}
#extramenus a {
  margin: 0px 3px;
}

#menu_news, #menu_newanime, #menu_views, #menu_encyclopedia, #menu_video, #menu_forum, #menu_admin, #menu_sponsor, #menu_myann {
  border-color:#e0e0e0;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  color: #06c;
  float: right;
  height: 75px; overflow: hidden;
  vertical-align: middle;
  text-transform: lowercase;
}
#menu_admin { 
  margin-left: 365px;
  padding: 3px;
  height: 69px; overflow: hidden;
}
#menu_admin span {
  margin-right: 6px;
}
#menu_news a, #menu_newanime a, #menu_views a, #menu_encyclopedia a, #menu_video a, #menu_forum a, #menu_admin, #menu_sponsor, #menu_myann a {
  font-weight: normal;
}
#logo {
  height: 70px; overflow: hidden;
  width: 360px;
  position: absolute;
}

#page-header-navigation {
  margin-bottom: 10px;
}
#page-header-banner{
  margin: 10px 0px 10px 0px;
}
#banner-container {                                 
}
#banner-container div {
  margin: 0 auto;
}
iframe.aframe {
  overflow: hidden;
  display: block;
  border: 0px solid red;
}
#page-header-banner iframe.aframe {
  margin: 0 auto;
}
#container {
  background: #021b73;
  color: #000;
  float: left;
  width: 100%;
}
#maincontent {
  background: #fff;
  color: #000;
  padding: 8px;
}
  h1, h2, h3, h4, h5, h6 {
    background: transparent;
    color: #358ab0;
    font-family: "Lucida Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.2em;
  }
  
  
  h1 { font-size: 22px; margin: 0; }
  h2 { font-size: 23px; margin: 24px 0 10px 0; }
  h3 { font-size: 18px; margin: 21px 0 8px 0; }
  h4 { font-size: 17px; margin: 18px 0 6px 0; }
  h5 { font-size: 15px; margin: 15px 0 4px 0; }
  h6 { font-size: 13px; margin: 12px 0 2px 0; }
  
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #358ab0 !important;
  }
  
  h1#page_header { 
    margin: -6px 0 0 0;
  }
    h1#page_header .sub-title {
      font-size: 16px;
      font-weight: bold;
    }

  .main-feed h3,
  .news-list h3 { 
    background: #eef;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    color: #069;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0px 3px;
  }
    .main-feed h3 small,
    .news-list h3 small {
      position: relative;
      top: -5px;
      font-size: 14px;
    }
  
  .js-content.local-news span{ margin: 7px 0px; }
  #content-zone.local .js-content.local-news .show{ display: none; }
  #content-zone.local .js-content.local-news .hide{ display: block; }
  #content-zone.local .newsitem{ display: none; }
  body.en-AU #content-zone.local .newsitem.Australia{ display: block; }
  body.en-AU #content-zone.local .newsitem.New_Zealand{ display: block; }
  body.en-UK #content-zone.local .newsitem.UK{ display: block; }
  body.en-UK #content-zone.local .newsitem.Ireland{ display: block; }
  body.es-ES #content-zone.local .newsitem.Spain{ display: block; }

  .main-feed .newsitem{ padding-left:54px; }
  body.en-UK .local-news .show,
  body.en-UK .newsitem.UK .newslink{
    background: url(/stylesheets/system/flag.UK.png) no-repeat left center;
    padding-left: 26px;
  }
  body.en-UK .newsitem.Ireland .newslink{
    background: url(/stylesheets/system/flag.IE.png) no-repeat left center;
    padding-left: 26px;
  }
  body.en-AU .local-news .show,
  body.en-AU .newsitem.Australia .newslink{
    background: url(/stylesheets/system/flag.AU.png) no-repeat left center;
    padding-left: 26px;
  }
  body.en-AU .newsitem.New_Zealand .newslink{
    background: url(/stylesheets/system/flag.NZ.png) no-repeat left center;
    padding-left: 26px;
  }
  body.es-ES .local-news .show,
  body.es-ES .newsitem.Spain .newslink{
    background: url(/stylesheets/system/flag.ES.png) no-repeat left center;
    padding-left: 26px;
  }
  .main-feed .newsitem .icon{
    border: 1px solid white;
    border-radius:5px; -moz-border-radius: 5px;
    color:white; 
    margin-left:-54px;
    position: absolute;
    text-align:center;
    width:50px;
    white-space:nowrap;
  }
  .main-feed .newsitem .icon a{ color:white; cursor:help; text-decoration: none; }
  
  .main-feed .newsitem          .icon{ background-color:#696969; } 
  .main-feed .newsitem.news     .icon{ background-color:#2d50a7; } 
  .main-feed .newsitem.contest  .icon{ background-color:#4e2da7; } 
  .main-feed .newsitem.forum    .icon{ background-color:#8f2da7; } 
  .main-feed .newsitem.interest .icon{ background-color:#a72d7c; } 
  .main-feed .newsitem.views    .icon{ background-color:#a72d39; } 
  .main-feed .newsitem.reviews  .icon{ background-color:#a7642d; } 
  .main-feed .newsitem.sponsor  .icon{ background-color:#a7a52d; }
  .main-feed .newsitem.XYZ      .icon{ background-color:#66a72d; }
  .main-feed .newsitem.encyc    .icon{ background-color:#2da737; } 
  .main-feed .newsitem.MyANN    .icon{ background-color:#2da77a; }
  .main-feed .newsitem.video    .icon{ background-color:#2d93a7; } 
  
  .main-feed .newsitem .icon div{
    font: bold 25px/30px Arial;
  }
  .main-feed .newsitem .icon .topic{ 
    height:14px;
    font: 10px Arial;
    border-top:1px solid white;
  }
  
  .main-feed .newsitem.interest .newslink a {
    color:#7f155b;
  }
  .main-feed .newsitem.interest .newslink a:visited {
    color:#300;
  }
  .newslink a:visited {
    color:#004;
  }
  #page-title.interest,
  #page-title.interest h1 {
    color:#a72d7c;
    border-color:#a72d7c;
  }
  
  #maincontent small {
    
  }
  #page-title {
    color: #358ab0;
    border-bottom: 2px solid #358ab0;
    margin-bottom: 10px;
    padding-bottom: 3px;
  }
  #page-title + #content-zone {
    
    min-height: 300px;
  }
  
  
  #maincontent .forumline th {
    background-color: #021b73;
    background-image: none;
    color: white;
  }
  
#sidebar {
  background: #021b73;
  color: #fff;
  float: right;
}
  #sidebar a:link, #sidebar a:visited {
    background: transparent;
    color: #aae0ff;
  }
  #sidebar a:hover {
    background: transparent;
    color: #e2f4ff;
  }
  .sidebar_tabs{
    display: table;
    border-collapse: collapse;
  }
  #content.lst .sidebar_tabs{
    width: 451px;
  }
  #content.std .sidebar_tabs{
    width: 299px;
  }
  .sidebar_tabs span{
    display: table-cell;
    padding: 4px;
    cursor: pointer; 
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    width: 1%;
  }
  .sidebar_tabs span.active{
    cursor: default;
    font-weight: bold;
    border-bottom-width: 0;
  }
  
  #sidebar .sidebar_items div img.thumb-regular { 
    border: 1px solid white; 
    float: left;
    margin-top: 2px;
    margin-right: 3px;
  }
  #sidebar .sidebar_items div img.thumb-wide { 
    border: 1px solid white; 
    display: block;
  }
  #sidebar .sidebar_items div img.thumb-transparent { 
    border: 0px; 
  }
  
  
  #sidebar .more {
    padding: 2px 5px;
    font-size: smaller;
    font-weight: bold;
    text-align: right;
  }
  #content.lst #sidebar .more {
    text-align: center;
  }



#sidebar #featured-videos {
  background: #fff;
  color: #069;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85em;
}

  #sidebar #featured-videos a:link, #sidebar #featured-videos a:visited {
    color: #069 !important;
    font-weight: normal;
    text-decoration: none;
  }
   
  #sidebar #featured-videos a:hover {
    color: #09c !important;
  }
  #sidebar #featured-videos .thumb_container {
    float: left;
    width: 122px;
  }
   
  #sidebar #featured-videos .thumb_container div {
    float: left;
    height: 45px;
    margin: 0 1px 1px 0;
    width: 60px;
  }
  #sidebar #featured-videos #titles {
    float: left;
    padding: 0 4px 0 4px;
    width: 321px;
  }
  .std #sidebar #featured-videos #titles { 
    width: 170px; 
  }
   
  #sidebar #featured-videos h4 {
    border-bottom: 2px solid #e5f6ff;
    color: #448fb4;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0 0 1px 0;
  }
   
  #sidebar #featured-videos h4 span {
    float: right;
    font-size: 0.8em;
  }
   
  #sidebar #featured-videos ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  #sidebar #featured-videos ul li {
    border-bottom: 2px solid #e5f6ff;
    list-style: none;
    margin: 0;
    padding: 0;
  }
   
  #sidebar #featured-videos ul li:hover {
    background-color: #f1faff;
  }
   
  #sidebar #featured-videos ul li span {
    float: right;
    font-size: 0.85em;
  }

  
  

  
#sidebar #sidebar_featured .sidebar_items div {
  background: transparent url(/stylesheets/ann-2006/sidebar_featured_desc_bg.gif) repeat-y scroll -8px 0px;
  color: #fff;
  font-weight: bold;
  padding: 0px 1px 2px 3px; 
  margin: 0px 7px 0px 7px;
  border: 2px solid white;
}
  #sidebar #sidebar_featured .sidebar_items div img {
    border-width: 0;
    padding: 0;
  }
  #sidebar #sidebar_featured .sidebar_items div img.thumb-regular {
    margin: 0px 3px -2px -3px;
  }
  #sidebar #sidebar_featured .sidebar_items div img.thumb-wide {
    margin: 0px -1px 0px -3px;
  }
  #sidebar #sidebar_featured .sidebar_items div h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 3px 0px 4px 0px;
  }
  #sidebar #sidebar_featured .sidebar_items div h4 a {
    color: #cbedff;
    text-decoration: none;
  }
  #sidebar #sidebar_featured .sidebar_items div h4 a:hover {
    border-bottom: 2px solid #cbedff;
  }
  

 

  
#sidebar_articles {
  color: #fff;
  padding-top: 6px;
  margin-top: 4px;
}
#sidebar_articles.without_feature { 
  background-image: none;
  padding-top: 0px;
}
  #sidebar_articles div {
    float: left;
    width: 215px;
  }
  #sidebar_articles div.leftside {
    clear: left;
  }
  #sidebar_articles div.rightside {
    clear: none;
  }

.sidebar_header {
  background: transparent url(/stylesheets/ann-2006/sidebar_header.gif) no-repeat top;
  color: #fff;
  clear: left;
  font-size: 16px;
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 9px 0px 3px 10px;
  text-transform: uppercase;
  width: auto;
}
#sidebar .sidebar_header.first,
#featured-articles .sidebar_header, #recent-articles .sidebar_header { 
  
  background: transparent url(/stylesheets/ann-2006/sidebar_top.gif) no-repeat top;
}
#recent-press-releases .sidebar_press_items {
  padding: 6px;
  width: auto;
}
  #recent-press-releases .sidebar_press_items .date {
    clear: left;
    float: left;
    width: 4.1em;
  }
  #recent-press-releases .sidebar_press_items .title {
    margin-left: 4.1em;
    width: auto;
  }
  
#recent-articles img {
  margin-top: 3px;
}
  

.sidebar_items {
}
.sidebar_items div {
  padding: 3px 4px 3px 7px;
}
  .sidebar_items .date {
    color: #6593c0;
    font-weight: bold;
    font-size: 0.75em;
    display: block;
  }


.sidebar_items div ul {
  margin: 0;
}
.sidebar_items div ul li {
  margin-left: 15px;
  marker-offset: -5px;
}
#marquee .intro ul{
  margin: 0;
  overflow: hidden;
}
#marquee .intro ul li{
  float: left;
  margin: 0 7px 0 15px;
}


.clearing {
  clear: both;
  height: 1px; 
  margin-bottom: -1px;
  overflow: hidden;
}



#content.lst  #container { margin: 0px -452px 0px 0px; }
#content.std  #container { margin: 0px -300px 0px 0px; }
#content.mob  #container,
#content.big  #container,
#content.full #container,
#content.fix  #container { margin: 0px; }

#content.mob  { width: auto; margin: 0; min-width: 448px; }
#content.full { width: auto; margin: 0; }
#content.fix  { width: 993px; }

#content.lst  #maincontent { margin: 0px 452px 0px 0px; }
#content.std  #maincontent { margin: 0px 300px 0px 0px; }
#content.mob  #maincontent,
#content.big  #maincontent,
#content.full #maincontent,
#content.fix  #maincontent { margin: 0px; }

#content.lst  #sidebar, #content.full #sidebar.lst { display:block; width: 452px; }
#content.std  #sidebar, #content.full #sidebar.std { display:block; width: 300px; }
#content.mob  #sidebar,
#content.big  #sidebar,
#content.full #sidebar,
#content.fix  #sidebar { display: none; }

#content.full #sidebar.lst #recent-articles { display: none }
#content.full #sidebar.std #featured-articles { display: none }

#content.lst  #b_fill { width: 447px; }
#content.std  #b_fill { width: 295px; }
#content.mob  #b_fill,
#content.big  #b_fill,
#content.full #b_fill,
#content.fix  #b_fill { background: #fff; }




.newsitem {
  line-height: 1.3em;
  font-size: 1.2em;
  margin-bottom: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.datetime {
  background: transparent;
  color: #669;
  font-size: 0.8em;
}
.newslink {
  font-weight: bold;
}

.adblocked {
  background-color:red; 
  font-size:16px;
  line-height:1.4em;
  color:yellow; 
  position:absolute;
}
.adblocked span {
  display:block;
  text-align:center;
  margin-top:10px;
}
.adblocked span a {
  color: yellow !important;
}


#maincontent #rect-spacer {
  display: block;
  float: right;
  height: 92px; overflow: hidden;
  width: 0px;
}
#maincontent #rect-container {
  clear: right;
  background: #ddd;
  border: 1px solid #999;
  color: #000;
  float: right;
  margin-top: 19px; 
  margin-left: 3px;
  padding: 0px 2px 2px 2px;
}
#maincontent #rect-container small {
  display: block;
  font: 9px Verdana;
  color: #888;
  text-align: center;
}


#sidebar #rectangle-ad {
  position: relative;
  top: 4px;
}
#sidebar #rect-spacer {
  display: none;
}
#sidebar #rect-container {
  clear: both;
  text-align: center;
}
#sidebar #rect-container div {
  margin: 0 auto;
}
#sidebar #rect-container small { 
  display: none;
}


div.turn-off {
  font: 9px Verdana;
  color: #888;
  text-align:center;
  cursor: pointer;
}
div.turn-off:hover {
  text-decoration: underline;
}





#button-ads-vertical {
  float: right;
  width: 100px;
  text-align: center;
  padding: 15px 5px 5px 10px;
  line-height: 1.1em;
  font: 12px Verdana, Arial;
}
  #button-ads-vertical a {
    display: block;
    padding: 0;
    margin: 8px 0px 0px 0px;
    cursor: pointer;
  }
    #button-ads-vertical a img {
      display: block;
    }
  
#button-ads-horizontal table {
  margin: 5px 0;
  width: 100%
}
#maincontent #button-ads-horizontal table {
  margin-top: 15px;
}
  #button-ads-horizontal td {
    text-align: center;
    width:20%;
    
  }
    #button-ads-horizontal td a {
      color: white;
      cursor: pointer;
    }
    #maincontent #button-ads-horizontal td a {
      color: blue;
    }
      #button-ads-horizontal td a img {
        margin: 0 auto;
        display: block;
      }
    
#footer {
  background: #254289;
  color: #92a1c4;
  min-height: 70px;
  margin: 5px 2px 0px 2px;
  padding: 0px;
  text-align: center;
}
#footer a:link, #footer a:visited { color: #92a1c4; }
#footer a:hover { color: #c4ccdf; }
#footer #bt_tl {
  background: #7e0019 url(/stylesheets/ann-2006/bt_tl.gif);
  float: left;
  height: 5px; overflow: hidden;
  width: 5px;
}
#footer #bt_tr {
  background: #7e0019 url(/stylesheets/ann-2006/bt_tr.gif);
  float: right;
  height: 5px; overflow: hidden;
  width: 5px;
}

 


#tabs div img {
  background: transparent url(/stylesheets/system/sprite.png?0004074);
  width: 1000px; height: 200px;
  position: relative;
}
#tab_news, #tab_newanime, #tab_views, #tab_encyclopedia, #tab_video, #tab_forum, #tab_admin, #tab_sponsor, #tab_myann {
  float: left;
  height: 32px;
  overflow: hidden;
  margin-left: 2px;
  position: relative;
}
#tabs div img {
  top: -78px;
}
  #tabs div.tab_selected img {
    top: -160px;
  }
  #tabs div.on img {
    top: -119px;
  }
#tab_news {
  width: 55px;
}
  #tab_news img {
    left: -6px;
  }
#tab_views {
  width: 55px;
}
  #tab_views img {
    left: -64px;
  }
#tab_encyclopedia {
  width: 110px;
}
  #tab_encyclopedia img {
    left: -122px;
  }
#tab_video {
  width: 59px;
}
  #tab_video img {
    left: -252px;
  }
#tab_forum {
  width: 64px;
}
  #tab_forum img {
    left: -331px;
  }
#tab_admin {
  width: 64px;
}
  #tab_admin img {
    left: -398px;
  }
#tab_sponsor {
  width: 72px;
}
  #tab_sponsor img {
    left: -465px;
  }
#tab_myann {
  width: 80px;
}
  #tab_myann img {
    left: -539px;
  }
#tab_newanime { width: 90px }
#tab_newanime img { left: -622px }

#menu_news, #menu_newanime, #menu_views, #menu_encyclopedia, #menu_video, #menu_forum, #menu_admin, #menu_sponsor, #menu_myann { 
  background: white url(/stylesheets/system/sprite.png?0004074);
}
#menu_news, #menu_views, #menu_encyclopedia, #menu_video, #menu_forum, #menu_admin, #menu_sponsor, #menu_myann {
  background-position: 0px -223px;
}
#menu_newanime {
  background-position: 0 0;
}
#menu_encyclopedia {
  background-position: 0px -301px;
}
#menu_admin, #menu_sponsor {
  background-position: 0px -378px;
}
#menu_myann {
  background-position: 0px -455px;
}









#content-zone TABLE.layout TD.horizontal {
  color: white;
  font-weight: bold;
  line-height: 30px;
}
#content-zone TABLE.layout TR.top-side TD.horizontal {
  line-height: 16px;
}


TABLE.fixed.layout { table-layout:fixed; width:100%; }
TABLE.layout TD.vertical { width: 35px; background-image: url(/stylesheets/system/border_bar_vertic.gif); }
TABLE.layout TD.vertical DIV { width: 35px }
TABLE.layout TD.horizontal { height: 35px; background-image: url(/stylesheets/system/border_bar_horiz.gif); }
TABLE.layout TD.horizontal DIV { height: 35px; }

TABLE.layout TD DIV.overflow-down { margin-bottom: -35px; }
TABLE.layout TD DIV.overflow-up { margin-top: -35px; }

TABLE.layout TR.top-side TD,    TABLE.layout TR.top-side TD    DIV { height: 28px; background-position: 0px -7px; }
TABLE.layout TR.bottom-side TD, TABLE.layout TR.bottom-side TD DIV { height: 29px; }
TABLE.layout TD.left-side,      TABLE.layout TD.left-side      DIV { width: 28px; background-position: -7px 0px; }
TABLE.layout TD.right-side,     TABLE.layout TD.right-side     DIV { width: 30px; }

TABLE.layout TR.top-side TD.left-side, TABLE.layout TR.top-side TD.left-side DIV { background-position: -7px -7px; }

TABLE.layout DIV.top-left { background-image: url(/stylesheets/system/border_corner_topleft.gif); }
TABLE.layout DIV.top-right { background-image: url(/stylesheets/system/border_corner_topright.gif); }
TABLE.layout DIV.bottom-left { background-image: url(/stylesheets/system/border_corner_bottomleft.gif); }
TABLE.layout DIV.bottom-right { background-image: url(/stylesheets/system/border_corner_bottomright.gif); }

TABLE.layout DIV.downward-T { background-image: url(/stylesheets/system/border_T_down.gif); }
TABLE.layout DIV.rightward-T { background-image: url(/stylesheets/system/border_T_right.gif); }
TABLE.layout DIV.leftward-T { background-image: url(/stylesheets/system/border_T_left.gif); }
TABLE.layout DIV.upward-T { background-image: url(/stylesheets/system/border_T_up.gif); }

TABLE.layout TD.bottom-cap { vertical-align: bottom; }
TABLE.layout TD.top-cap { vertical-align: top; }
TABLE.layout TD.left-cap DIV { float: left; }
TABLE.layout TD.right-cap DIV { float: right; }

TABLE.layout TD.bottom-cap DIV { background-image: url(/stylesheets/system/border_end_bottom.gif); height: 14px }
TABLE.layout TD.top-cap DIV { background-image: url(/stylesheets/system/border_end_top.gif); height: 13px; }
TABLE.layout TD.left-cap DIV { background-image: url(/stylesheets/system/border_end_left.gif); width: 13px; }
TABLE.layout TD.right-cap DIV { background-image: url(/stylesheets/system/border_end_right.gif); width: 14px; }



cite.e { font-style: inherit; }
cite.anime { font-style: italic; }
cite.e a:link, A.ENCYC:link { color: #008000 !important; text-decoration: none; }
cite.e a:visited, A.ENCYC:visited { color: #005000 !important; text-decoration: none; }
cite.unconfirmed { background-color: #ddd; }
cite.confirmed { border-bottom: 1px dashed #008000; }

kbd { border: 1px dotted #09f }
kbd var { text-decoration:underline }
kbd .optional { font-style:normal }
kbd .optional:before { content:"["; color:#09f }
kbd .optional:after { content:"]"; color:#09f }
samp{ font-size:90%; color:blue; }

div.loading {
  background-color: #fff;
  border: solid 1px #080;
  color: #080;
  -moz-opacity: 0.75;
  opacity: 0.75;
  position: absolute;
  white-space: nowrap;
  margin: 9px;
  padding: 2px 5px;
}
div.loading * {
  -moz-opacity: 1;
  opacity: 1;
}

span.greenlink-icon {
  position: absolute;
  width: 9px;
}
span.greenlink-icon > img {
  position: absolute;
  margin-top: -2px;
  margin-left: -4px
}
span.greenlink-menu {
  display: block;
  background-color: #fff;
  border: solid 1px black;
  color: black;
  font: normal 12px/1.5em DejaVu Sans,Verdana,Geneva,sans-serif;
  text-align: left;
  position: absolute;
  white-space: nowrap;
  margin-top: 1px;
  padding-right:12px;
  z-index: 1;
}
span.greenlink-menu input {
  margin: 1px;
  vertical-align: text-top;
}
span.greenlink-menu .close {
  display: block;
  float: right; 
  background: url(/img/tree_L_open.gif) bottom left; 
  width: 11px; 
  height: 13px;
  margin-left: 3px;
  position: relative;
  left: 12px;
}
.greenlink-menu .choice.default cite{ font-weight: bold; }
.greenlink-menu .choice .topic-or-not{ display: none; margin-left:15px; font-size:90%; line-height:1.1em; }
.greenlink-menu .choice.confirmed .topic-or-not{ display: block; }
div.greenlink-sandbox {
  border: 1px solid #080;
  padding: 4px 5px 2px 5px;
}
.greenlink-sandbox + .greenlink-sandbox { border-top-width:0px }




A.discreet{ color: inherit; text-decoration: none; }
A.discreet:hover{ color: #06c; text-decoration: underline; }

A.de-emphasized,
.de-emphasized, .de-emphasized A { color: #777; }
  
TABLE.datalist {
    
}
TABLE.datalist .actionlink  {
    font-size: 10px;
    vertical-align: middle;
}
TABLE.datalist TH {
  background-color: #c8c8e0;
  vertical-align: top;
}
TABLE.datalist TH FORM.filter {
  height: 21px;
  width: 0px;
  display: block;
}
TABLE.datalist TH FORM.filter INPUT {
  position: absolute;
}
TABLE.datalist TBODY TD {
  height: 18px;
}
TABLE.datalist TD {
  background-color: #e4e4e4;
  padding: 1px 2px 1px 2px;
}
TABLE.datalist TD.loading {
  background: #e4e4e4 url(/stylesheets/system/loading-squares.gif) 50% 50% no-repeat;
}
TABLE.datalist .highlight {
  background-color: #bbffbb !important;
}
TABLE.valign TD {
  vertical-align: top;
}
TABLE.datalist TD.nonpadded {
    padding: 0;
}
TABLE.datalist TR.sub TD {
    background-color: #d0d0d0;
}
TABLE.datalist TR:hover TD {
    background-color: #f0f0f0;
    
}

TABLE.datalist TR TD.rowgroup {
    vertical-align:top;
    background-color: #d0d0d0;
    padding-left: 4px;
    width: 0;
    border-radius: 8px 0px 0px 8px;
}
TABLE.datalist TR .empty {
    background: transparent;
}

TABLE.datalist .details { font-size:10px; line-height:1.3em; }
TABLE.datalist .details-overflow { font-size:10px; line-height:1.3em; max-height: 6.5em; overflow:scroll; overflow:-moz-scrollbars-vertical }
TABLE.datalist .details DIV, TABLE.datalist .details-overflow DIV {
  margin-left:15px;
  text-indent:-15px;
}

UL.article-list H3 { margin: 10px 0 0  0px }
UL.article-list H4 { margin: 3px 0 0 15px }
UL.article-list H5 { margin: 0 0 0 22px }
UL.article-list H6 { margin: 0 0 0 22px }
UL.article-list LI { margin: 0 0 0 30px }

UL.article-list .de-emphasized { font-size: 10px }

UL.article-list {
  list-style-type: none;
  padding: 0px;
}
UL.article-list UL {
  list-style-type: none;
  padding-left: 20px;
}

.back-indent DIV {
  margin-left: 20px;
  text-indent: -20px;
}
#content A.current-href {
  text-decoration:none
  
}
#content A.current-href:hover {
  text-decoration:none
}

.spoiler {
  color: black;
  background-color: black;
}
.spoiler .spoiler-header {
  color: white;
}

.spoiler-hover {
  color: black;
  background-color: transparent;
}
.spoiler-hover .spoiler-header {
  cursor: help;
}
.row1 .spoiler-hover .spoiler-header {
  color: #C0C0C0;
}
.row2 .spoiler-hover .spoiler-header {
  color: #DEE3E7;
}
TD.quote .spoiler-hover .spoiler-header {
  color: white;
}



.notice {
  background: #efe;
  border: 1px solid #cfc;
  color: #090;
  font-weight: bold;
  margin-bottom: 7px;
  padding: 10px;
}
div.notice center {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.notice a, .alert a { color: inherit }
.alert {
  background: #fee;
  border: 1px solid #fcc;
  color: #c00;
  font-weight: bold;
  margin-bottom: 7px;
  padding: 10px;
}
.endorse {
  color: green;
}
.discard {
  color: red;
}


.news .intro { font-style: italic }
.news HR { margin: 15px 5px }

.review H1, .review H2 { text-align:center }
.review .good-points { color: green; font-size:150%; }
.review .bad-points { color: red; font-size:150%; }
.review .more-info { text-align: center }
.review .floating-image {
  position: relative;
  top: -28px; 
}
.review td p:first-child { margin-top: 0 }
.review td p:last-child { margin-bottom: 0 }

.my-anime-rating,
.encyc-interactive {
  margin: 1em 0;
  background-color: #e0e8ff;
  padding: 5px;
  border: 1px solid #89c;
  border-width: 1px 3px;
}
.encyc-interactive h4 {
  margin-top: 0;
}
.encyc-interactive table td {
  text-align: center;
  padding: 2px 7px;
}

#social-bookmarks {
  white-space: nowrap;
  display: inline;
}
#social-bookmarks img {
  vertical-align: middle;
}

table.gallery { margin: 0 auto }
table.gallery td { width:100px; height:100px; text-align:center; }
div.gallery_pic { text-align: center; }
div.gallery_pic img { margin: 2px auto; border: 1px solid black }




FORM {
  margin: 0;
}
P, DIV.p { 
  margin: 1em 0;
}
UL, OL {
  margin: 3px;
  padding: 0px;
}
LI {
  margin-left: 2em;
  list-style-position: outside;
}
FIELDSET FORM {
  display: inline;
}
TT {
  white-space: -moz-pre-wrap;
}



FIELDSET {
  margin: 0px 0px 8px 0px;
  padding: 6px 10px 6px 4px;
  background-color: window;
}
#content.std FIELDSET {
  border: 0px;
  background-color: #e4e4ff;
  -moz-border-radius: 7px
}
FIELDSET H4 {
  margin: 0px 0px 10px 0px;
  font-size: 125%;
}
FIELDSET DIV.field {
  margin-top: 8px;
}
FIELDSET DIV.field > LABEL {
  font-weight: bold;
}
FIELDSET DIV.WithErrors > LABEL,
FIELDSET DIV.WithErrors .err {
  color: red;
}
FIELDSET DIV.WithErrors > LABEL:before {
  content: url(/stylesheets/system/fieldWithErrors.gif);
  vertical-align: bottom;
}
FIELDSET DIV.WithErrors INPUT {
  background-color: yellow;
}
TEXTAREA.tt { font-family: monospace }
FIELDSET TD:first-child > DIV.field {
  white-space: nowrap;
}
.changelog TD, .changelog INPUT, .changelog SELECT {
  font-size: 10px;
}


FIELDSET DIV.field UL.suboptions {
  margin: 0;
  padding-left: 20px;
}
FIELDSET DIV.field UL.suboptions LI {
  list-style-type: none;
}
FIELDSET DIV.field LABEL INPUT[type=text],
FIELDSET DIV.field LABEL TEXTAREA {
  display: block;
}
INPUT[type=submit] { 
  background-color: #d0d0d0;
}
FIELDSET P {
  margin: 8px 0px 8px 0px;
}
FIELDSET DFN {
  display: block;
  font-size: smaller;
  font-style: normal;
  line-height: 1.4em;
}
FIELDSET DFN.tip {
  display: inline;
  border-bottom: 1px dashed black;
  cursor: help;
}
FIELDSET DFN.tip:hover {
  text-decoration: none;
  border-bottom: 0px;
}
FIELDSET DFN.tip SPAN {
  display: none;
}
FIELDSET DFN.tip:hover SPAN {
  display: inline;
}
FIELDSET.wide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
}
FIELDSET TEXTAREA {
  width: 100%;
}

FIELDSET.wide INPUT[type=text],
FIELDSET.wide INPUT[type=password] {
  width: 100%;
}
FIELDSET.login {
  width: 200px;
}
FIELDSET.login INPUT {
  width: 200px;
}

.dataField {
  margin-top: 8px;
}
.dataField LABEL {
  font-weight:bold;
}

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea {
  background-color: yellow;
}



 
table.searchresults td {
  padding: 1px 6px 1px 0px;
}





TABLE.bar-graph TD {
  border-bottom: 3px solid white;
  padding: 0px;
}
TABLE.bar-graph TD.graphheader DIV {
  background-color: #ddd;
  font-weight: bold;
  padding: 3px;
  margin: 5px 0px 2px 0px;
}
TABLE.bar-graph TD.graphbar SPAN {
  position:absolute;
  color:#99f;
  display:none;
}
TABLE.bar-graph TD.graphbar:hover SPAN {
  display:block;
}
TABLE.bar-graph TD.graphbar DIV {
  height: 18px;
  background-color: blue;
}
TABLE.bar-graph TD.graphlabel {
  background-color: #e0e0ff;
  padding: 0px 3px;
}
TABLE.bar-graph TD.graphnum {
  white-space: nowrap;
  padding: 0px 3px;
  text-align: right;
}


TABLE.layout {
  border-spacing: 0;
}
TABLE.layout TD {
  vertical-align: top;
  padding: 0;
}
TABLE.layout TD.rpadded {
  padding-right: 6px;
}
A.sort-order { text-decoration:none }
A.sort-order:visited { color:blue }


.legal-fine-print {
  border: 1px dotted black;
  padding: 3px;
  font-size: 10px;
  line-height: 1.2em;
  color: #333;
}

DIV.ajaxedit:hover {
  background-color: #ff8;
  cursor: pointer;
}

.worddiff del { color: red   }
.worddiff ins { color: green }


table.prices {
  border: 0;
  margin-bottom: 10px;
}
table.prices td {
  padding: 5px 5px 0px 5px;
  vertical-align: top
}
table.prices td.s {
  white-space: nowrap;
}
table.prices td.p {
  white-space: nowrap;
  text-align: right;
  width: 1px;
}
table.prices td.l {
}
#pleasewait {
  text-align: center;
  margin: 0 50px;
  color: #777;
  padding: 8px;
  border: 2px dashed #777;
  cursor: wait;
}
#addurllink {
  text-align: center;
}
#price-comp-basket {
  border: 1px solid blue;
  color: blue;
  padding: 5px;
  text-align: center;
}
#price-comp-basket dfn {
  display: block;
  margin-bottom: 3px;
}
#price-comp-basket a {
  font-weight: bold;
}
#price-comp-basket strong {
  font-size: 130%;
  display: block;
}



TD.BorderWithTitle { color: WHITE; font-weight: bold; vertical-align: top; padding-top: 7px; }


A.HOVERLINE:link { text-decoration: none; }
A.HOVERLINE:visited { text-decoration: none; }
A.HOVERLINE:hover { text-decoration: underline; }

.SMALLFORM {
	font-size: xx-small;
	font-family: Ms Sans Serif, Arial;
}

.STAFF, .STAFF A { color: #FF8000 ! important; }
.ESTAFF, .ESTAFF A { color: #00A0A0 ! important; }

.ENTAB {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	text-indent: -20px;
}


TD.BGRAL { background-position: right; }

A.ENCYCHIDDEN { color: black; text-decoration: none; }
A.ENCYCHIDDEN:hover { color: #009000; text-decoration: underline; }
A.OUT { color: #9B01DB; text-decoration: none; font-weight: bold; }
A.IN  { color: #008CDC; text-decoration: none; font-weight: bold; }

.release-ean { background: url(/img/pixel_gray.gif) repeat-x 50% 50%; }
.release-ean span { background-color:white; position:relative; }

.RED { color: RED !important; }

.upcoming-date {
	background-color: #bbbbff;
	color: black;
}
.current-date {
	background-color: #bbffbb;
	color: black;
}
.impression-limit {
	font-size: 60%;
}

.back-indent LI {
	margin-left: 20px;
	list-style-position: outside;
}

SPAN.input-format-label {
	position:absolute;
	font-size:smaller;
	padding-top:2em
}

.form-feedback {
}

.encyc-info-type DIV.tab, .encyc-info-type P.tab {
	text-indent: 20px;
}
.encyc-info-type.br {
  margin-top: 16px;
}
.encyc-info-type .fright TABLE CAPTION {
  caption-side:bottom;
  border:1px solid black;
  margin-top:-1px; 
  font-family: Arial, sans-serif;
  font-size:10px;
  line-height:100%;
  text-align:left;
}
.encyc-info-type .fright TABLE CAPTION P {
  margin: 3px 0px 3px 1px;
}
.encyc-info-type.articles .show-more {
  display:none;
  background:#eee;
  position:absolute;
  padding:1px;
  margin-left:5px;
  color:#777;
}
.encyc-info-type.articles .show-more input { margin:0; vertical-align:middle; } 
.encyc-info-type.articles:hover .show-more { display:inline; }
.encyc-info-type.articles .limit-height { max-height:400px; overflow:auto; }
.encyc-info-type.articles .S1,
.encyc-info-type.articles .S1 a { color: #4f607c; }
.encyc-info-type.articles .S2,
.encyc-info-type.articles .S2 a { color: #777 }
.encyc-info-type.articles.S0-show .S1.show{ display:none; }
.encyc-info-type.articles.S0-hide .S0.hide,
.encyc-info-type.articles.S1-hide .S0.hide,
.encyc-info-type.articles.S1-hide .S1.hide,
.encyc-info-type.articles.S2-hide .S0.hide,
.encyc-info-type.articles.S2-hide .S1.hide,
.encyc-info-type.articles.S2-hide .S2.hide{ display:block; }

#infotype-33 { display:table; margin:0 auto; }
#infotype-33 DIV.tab { text-indent:0px; float:left; padding:3px }

.hover-box span{
  position:absolute;
  z-index:1;
}
.hover-box span div{
  display:none;
  margin:0 1px;
}
.hover-box:hover span div{
  display:block;
}
.hover-box span div{
  text-indent:0;
  background-color:white;
  border:1px solid black;
  padding:0 2px;
  max-width:200px;
}

.encyc-op {
  padding-left: 4px;
  text-indent: 0px;
}
.encyc-op A {
  color: #777777;
  padding: 0px 3px;
  border-style: solid;
  border-width: 0 1px 0 0;
}
.encyc-op.ESTAFF, .encyc-op.ESTAFF A {
  color: #00A0A0;
}
.encyc-op .own {
  color: #777 !important;
}
.encyc-op IMG { 
  padding: 3px; 
  vertical-align: baseline;
  margin-bottom: -4px
}

.encyc-op .p {
  display: inline;
  border: 0px;
  font-family: serif;
  margin-left: -1px;
  position: absolute;
}
.encyc-op.no-overlay .p {
  position: static;
}

.encyc-op .o { 
  display: none;
  background-color: #fff;
  color: #777777;
  position: absolute;
  z-index: 1;
}
.encyc-op.no-overlay .o {
  position: static;
}

.encyc-op.hvr .p { display: none }
.encyc-op.hvr .o { display: inline; padding: 4px 0px; z-index: 2; margin: -4px 0px; }
.encyc-op.hvr .o A { border-width: 1px 1px 1px 0px; padding: 4px 3px; }

.encyc-op.pin .p { display: none }
.encyc-op.pin .o { display: inline }

.encyc-op.show-source a.src {
  color:#4a0;
  background-color:#ffb;
}
.encyc-op.show-source span.src a {
  color:#4a0;
  background-color:#ffb;
  padding: 0;
  border-width: 0;
  text-decoration: none;
}
.encyc-op.show-source span.src a:hover {
  text-decoration: underline;
}
.encyc-op span.src {
  display: none;
  position: absolute;
  z-index: 2;
  margin: -4px 0 0 -1px;
  white-space: normal;
}
.encyc-op.show-source span.src {
  display: inline;
}
.encyc-op span.src table {
  border-collapse: collapse;
}
.encyc-op span.src table td {
  padding: 3px;
  color: #4a0;
  border: 1px solid #4a0;
  background-color: #ffb;
}

.highlight-btn .off{ display:inline }
.highlight-btn .on{ display:none }
.highlight-btn:hover .off{ display:none }
.highlight-btn:hover .on{ display:inline }

table.encyc-ratings td.l { width:50px; }
table.encyc-ratings td.t { min-width:350px; }
table.encyc-ratings td.r { width:100px; text-align:right; }

